<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TRL Navbar</title>

  <!-- Only ONE CSS -->
  <link rel="stylesheet" href="Components/Navbar/Navbar.css" />
</head>
<body>

<nav class="navbar">
  <div class="logo">
  <img src="../../images/TRL-LOGO for black.svg" alt="TRL Logo">
</div>

  <ul class="nav-links" id="navLinks">
    <li><a href="../../index.html">Home</a></li>
    <li><a href="../../About_page/index.html">About</a></li>
    <li><a href="../../Dealer_growth_system/index.html">Dealer growth system</a></li>
    <li><a href="../../contact.html">Contact</a></li>
  </ul>

  <div class="menu-toggle" id="menuToggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>

<script>
 const menuToggle = document.getElementById("menuToggle");
const navLinks = document.getElementById("navLinks");

// Toggle menu
menuToggle.addEventListener("click", () => {
  navLinks.classList.toggle("open");
  menuToggle.classList.toggle("active");
});

// Active link highlight
const links = document.querySelectorAll(".nav-links a");

links.forEach(link => {
  link.addEventListener("click", () => {
    links.forEach(l => l.classList.remove("active"));
    link.classList.add("active");

    // close mobile menu after click
    navLinks.classList.remove("open");
    menuToggle.classList.remove("active");
  });
});
</script>

</body>
</html>